.nav-item {
    font-family: 'WorkSans';
    font-size: 18px;
    font-weight: 400;
}

.main-body {
    margin-bottom: 30px;
}

.home-slider .slider-img {
    width: 100%;
    height: auto;
}

.worksans {
    font-family: 'WorkSans';
    color: var(--abhirj-blue)
}

.fw-500 {
    font-weight: 500!important;
}

.bg-red {
    background-color: #E63946!important;
}

.bg-blue {
    background-color: #1D3557!important;
}

.bg-light-gray {
    background-color: #F8F9FA!important;
}

.bg-light-yellow {
    background-color: #FBFAF8!important;
}

.btn:hover .github-btn {
    filter: invert(82%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(108%) contrast(102%);
}

.svg-white {
    filter: invert(82%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(108%) contrast(102%);
}

.hero-header {
    top: 0px;
    right: 0px;
    left: 0px;
}