:root {
    /* --black: #4D455D; */
    --black: #363041;
    --red: #E96479;
    --beige: #F5E9CF;
    --teal: #7DB9B6;
    --light-beige: #FAF3E4;
}
body {
    color: var(--black);
}

/* .card-body {
    background-color: var(--light-beige);
} */
p {
    font-size: 18px;
}

ul {
    font-size: 18px;
}

.bg-biege {
    background-color: var(--beige)!important;
}

.bg-light-biege {
    background-color: var(--light-beige)!important;
}

.bg-black {
    background-color: var(--black)!important;
}
.bg-teal {
    background-color: var(--teal)!important;
}
.bg-red {
    background-color: var(--red)!important;
}
.text-black {
    color: var(--black)!important;
}
.font-manrope {
    font-family: 'Manrope', sans-serif;
}

.font-karla {
    font-family: 'Karla', sans-serif;
}

.bg-red {
    background-color: var(--red) !important;
}

.border-red {
    border-color: var(--red) !important;
}

.bg-yellow {
    background-color: #FBFAF8 !important;
}

.text-gray {
    color: #2b2b2b!important;
}

.bg-blue {
    background-color: #1D3557;
}


.text-red {
    color: var(--red);
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1150px;
    }
}

.cls-1 {
    fill: var(--black);
}

#logo {
    display: inline-block;
    width: 65px;
}

.about-me {
    max-width: 700px;
}

.about-me p {
    font-size: 20px;
    line-height: 32px;
}