.font-manrope {
    font-family: 'Manrope', sans-serif;
}

.font-karla {
    font-family: 'Karla', sans-serif;
}

.bg-red {
    background-color: #E63946 !important;
}

.border-red {
    border-color: #E63946 !important;
}

.bg-yellow {
    background-color: #FBFAF8 !important;
}

.text-gray {
    color: #666666!important;
}