.font-manrope {
    font-family: 'Manrope', sans-serif;
}

.font-karla {
    font-family: 'Karla', sans-serif;
}

.bg-red {
    background-color: #E63946 !important;
}

.border-red {
    border-color: #E63946 !important;
}

.bg-yellow {
    background-color: #FBFAF8 !important;
}

.text-gray {
    color: #2b2b2b!important;
}

.bg-blue {
    background-color: #1D3557;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
}
